<!-- Aquí vendría el menu de la app -->
<ul class="nav justify-content-center border-bottom bg-light">
  <li class="nav-item">
    <a class="nav-link" aria-current="page"  routerLink="/">Lista Peliculas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/listaSerie">Lista Serie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/nuevaSerie">Nueva Serie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/nuevaPelicula">Nueva Pelicula</a>
  </li>
  
</ul>

<router-outlet></router-outlet>